[nz-carousel-content] {
  text-align: center;
  height: 100px;
  line-height: 160px;
  background: #f9f6ec;
  color: black;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}
::ng-deep .ant-card-meta-title {
  margin-bottom: 10px;
  white-space: normal;
}

::ng-deep .ant-carousel .slick-dots li {
  background-color: #b55b53;
}

::ng-deep .ant-carousel .slick-dots li.slick-active button {
  background-color: #9f4834;
}
