<ul nz-menu nzMode="horizontal" style="background-color: #b55b53; color: white">
  <img src="https://i.imgur.com/fZpY0Zd.png" style="height: 30px" />

  <li routerLink="/home" nz-menu-item [nzSelected]="homeRoute">
    <span nz-icon nzType="home" nzTheme="outline"></span>
    Home
  </li>

  <li
    routerLink="/browse"
    nz-menu-item
    [nzSelected]="browseRoute"
    *ngIf="isAuthed"
  >
    <span nz-icon nzType="search" nzTheme="outline"></span>
    Browse
  </li>

  <span>
    <nz-select
      nzShowSearch
      nzAllowClear=""
      nzPlaceHolder="Search for a book"
      [(ngModel)]="selectedBook"
      [nzShowArrow]="false"
      (ngModelChange)="searchBook(selectedBook)"
      style="margin-left: 50px"
    >
      <nz-option
        *ngFor="let book of books"
        [nzLabel]="book.name"
        [nzValue]="book.id"
      ></nz-option>
    </nz-select>
  </span>

  <li
    routerLink="/register"
    nz-menu-item
    style="float: right"
    *ngIf="!isAuthed"
    [nzSelected]="registerRoute"
  >
    <span nz-icon nzType="mail"></span>
    Register
  </li>

  <li
    routerLink="/auth"
    nz-menu-item
    style="float: right"
    *ngIf="!isAuthed"
    [nzSelected]="loginRoute"
  >
    <span nz-icon nzType="login" nzTheme="outline"></span>
    Sign In
  </li>

  <li
    nz-submenu
    nz-menu-item
    [nzSelected]="profileRoute"
    nzTitle="Profile"
    nzIcon="user"
    nzPlacement="bottomRight"
    style="float: right"
    *ngIf="isAuthed"
  >
    <ul>
      <li routerLink="/profile" nz-menu-item>Account</li>
      <li routerLink="/admin-dashboard" nz-menu-item *ngIf="adminRole">
        Admin Dashboard
      </li>

      <nz-divider></nz-divider>
      <li nz-menu-item (click)="logout()">Logout</li>
    </ul>
  </li>

  <li
    routerLink="/cart"
    nz-menu-item
    style="float: right; color: white"
    *ngIf="isAuthed"
    [nzSelected]="cartRoute"
  >
    <nz-badge [nzCount]="cartNumber" nzSize="small">
      <span
        nz-icon
        nzType="shopping-cart"
        nzTheme="outline"
        style="color: white"
      ></span>
      <span style="color: white; margin-left: -1px"> Cart</span>
      <span></span>
    </nz-badge>
  </li>
</ul>
