<ul nz-menu nzMode="horizontal" style="background-color: #dbd9db">
  <span style="margin-left: 10px">SecondBook</span>

  <li routerLink="/home" nz-menu-item [nzSelected]="homeRoute">
    <span nz-icon nzType="home" nzTheme="outline"></span>
    Home
  </li>

  <li routerLink="/browse" nz-menu-item [nzSelected]="browseRoute">
    <span nz-icon nzType="search" nzTheme="outline"></span>
    Browse
  </li>

  <li routerLink="/about" nz-menu-item [nzSelected]="aboutRoute">
    <span nz-icon nzType="info-circle" nzTheme="outline"></span>
    About
  </li>

  <span>
    <nz-select
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="input search text"
      [(ngModel)]="selectedValue"
      [nzShowArrow]="false"
      [nzFilterOption]="nzFilterOption"
      (nzOnSearch)="search($event)"
      style="margin-left: 50px"
    >
      <nz-option
        *ngFor="let o of listOfOption"
        [nzLabel]="o.text"
        [nzValue]="o.value"
      ></nz-option>
    </nz-select>
  </span>

  <li
    routerLink="/register"
    nz-menu-item
    style="float: right"
    *ngIf="!isAuthed"
    [nzSelected]="registerRoute"
  >
    <span nz-icon nzType="mail"></span>
    Register
  </li>

  <li
    routerLink="/auth"
    nz-menu-item
    style="float: right"
    *ngIf="!isAuthed"
    [nzSelected]="loginRoute"
  >
    <span nz-icon nzType="login" nzTheme="outline"></span>
    Sign In
  </li>

  <li
    nz-submenu
    nz-menu-item
    [nzSelected]="profileRoute"
    nzTitle="Profile"
    nzIcon="user"
    nzPlacement="bottomRight"
    style="float: right"
    *ngIf="isAuthed"
  >
    <ul>
      <li routerLink="/profile" nz-menu-item>Account</li>

      <nz-divider></nz-divider>
      <li nz-menu-item (click)="logout()">Logout</li>
    </ul>
  </li>
</ul>
