<div
  style="
    margin-top: 80px;
    margin-left: 140px;
    margin-bottom: 20px;
    display: flex;
    align-items: top;
  "
>
  <img
    nz-image
    width="350px"
    height="350px"
    src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg"
    alt=""
  />

  <div style="display: flex; flex-direction: column; align-items: baseline">
    <h1 style="margin-top: 50px; margin-left: 100px">
      {{ user?.name }}
    </h1>

    <h3 style="margin-left: 100px; margin-bottom: 20px">My Orders</h3>

    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select an order to see details"
      [(ngModel)]="selectedOrder"
      (ngModelChange)="onOrderClicked(selectedOrder)"
      style="width: 500px"
    >
      <nz-option
        *ngFor="let order of orders"
        [nzLabel]="encrypt(order.id)"
        [nzValue]="order.id"
      ></nz-option>
    </nz-select>

    <div
      style="
        margin-top: 20px;
        margin-left: 140px;
        margin-bottom: 20px;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 1000px;
      "
    >
      <ul
        nz-list
        [nzDataSource]="books"
        nzBordered
        nzSize="large"
        style="width: 100%; margin-right: 300px"
      >
        <li nz-list-item *ngFor="let book of books">
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <span>{{ book?.book.price }}€</span>
            </nz-list-item-action>
          </ul>
          <div>
            <span style="font-size: 16px; font-weight: bold; color: gray"
              >x{{ book?.quantity }}</span
            >
            <img
              [src]="book?.book.imageUrl"
              style="width: 50px; margin-right: 10px; margin-left: 10px"
            />
            <span style="font-weight: bold"
              >{{ book?.book.name }}:
              <span style="font-weight: lighter">
                {{ book?.book.author.name }}
              </span>
            </span>
          </div>
        </li>

        <nz-list-footer style="display: flex; justify-content: space-between">
          <span>Total price:</span>
          <span style="font-weight: bold">{{ totalPrice }}€</span>
        </nz-list-footer>
      </ul>
    </div>
  </div>
</div>
