.login-form {
  max-width: 500px;
  margin: 0 auto;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.form {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
