<div
  style="
    margin-top: 80px;
    margin-left: 140px;
    margin-bottom: 20px;
    margin-right: 140px;
    display: flex;
    align-items: top;
    background-color: #f0e9d0;
  "
>
  <img
    nz-image
    width="350px"
    height="500px"
    src="{{ book?.imageUrl }}"
    alt=""
  />
  <div style="width: 70%">
    <h1 style="margin-top: 50px; margin-left: 100px">
      {{ book?.name }}
    </h1>

    <div style="display: flex; justify-content: space-between">
      <h2 style="margin-left: 100px; margin-bottom: 20px">
        {{ book?.author.name }}
      </h2>

      <h2 style="margin-left: 100px; margin-bottom: 20px">
        {{ book?.price }}€
      </h2>
    </div>

    <nz-card
      style="margin-left: 100px; margin-bottom: 20px; background-color: #f9f6ec"
    >
      <p>{{ book?.description }}</p>
    </nz-card>

    <div style="margin-left: 100px">
      <button
        nz-button
        nzBlock
        nzType="dashed"
        [disabled]="!hasEnoughBookQuantity || isInCart"
        style="margin-bottom: 20px; background-color: #f9f6ec"
        (click)="onAddToCart(book)"
      >
        {{
          !hasEnoughBookQuantity
            ? "Out of stock"
            : !isInCart
            ? "Add to cart"
            : "Added to cart!"
        }}
      </button>
    </div>
  </div>
</div>
